script(src='/3rd/foundation.min.js')
script(src='/3rd/foundation/foundation.js')
script(src='/3rd/foundation/foundation.alerts.js')
script(src='/3rd/foundation/foundation.clearing.js')
script(src='/3rd/foundation/foundation.cookie.js')
script(src='/3rd/foundation/foundation.dropdown.js')
script(src='/3rd/foundation/foundation.forms.js')
script(src='/3rd/foundation/foundation.joyride.js')
script(src='/3rd/foundation/foundation.magellan.js')
script(src='/3rd/foundation/foundation.orbit.js')
script(src='/3rd/foundation/foundation.reveal.js')
script(src='/3rd/foundation/foundation.section.js')
script(src='/3rd/foundation/foundation.tooltips.js')
script(src='/3rd/foundation/foundation.topbar.js')
script(src='/3rd/foundation/foundation.interchange.js')
script(src='/3rd/foundation/foundation.placeholder.js')
script(src='/3rd/foundation/foundation.abide.js')